{
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "trailingComma": "none",
    "jsxSingleQuote": true,
    "bracketSameLine": true,
    "endOfLine": "lf",
    "proseWrap": "never",
    "multilineTernary": false
}